<!DOCTYPE html>
<html lang="es">

  <%- include("./partials/header.ejs") %>
	
	<!-- Banner -->
	<div class="banner">
		<img class="bannerNuevo" src="/images/imgHomeBanner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container productsWrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productsTitle">Vodkas</h2>
			</div>
			<!-- Show the "ultimos" products.. -->
			<div class="col-12 col-sm-6 col-lg-3">
				<% for (let i = 0; i < 5; i++) { %>
					<section class="productBox">
						<a href="/products">
							<figure class="productBoxImage">
								<img src=" <%=data[i].imagenDelProducto%>" alt="absolut Raspberry">
							</figure>
							<article class="productBoxData">
								<h2><%= data[i].nombreDelProducto %></h2>
								<p><%= data[i].descripcion %></p>
								<p>Comentarios: <%= data[i].comentarios.length %></p>
							</article>
						</a>
					</section>

				<%} %>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container productsWrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="productsTitle">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<% for (let i = 5; i < data.length; i++) {  %>
					<section class="productBox">
						<a href="/products">
							<figure class="productBoxImage">
								<img  src="<%=data[i].imagenDelProducto %>" alt="cafetera moulinex">
							</figure>
							<article class="productBoxData">
								<h2><%= data[i].nombreDelProducto%></h2>
								<p><%=data[i].descripcion %></p>
								<p>Comentarios: <%= data[i].comentarios.length %></p>
							</article>
						</a>
					</section>
				<% } %>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include("./partials/footerLogueado") %>
	<!-- /footer ...-->
</body>	
</html>